@model EvidencePojisteniPlnaVerze.Models.Insured


@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h1>
<hr />

<div class="row">
    <div class="col">
        <img src="~/images/person.png" />
    </div>
    <dl class="col">
        <dt>
            @Html.DisplayNameFor(model => model.Street):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        <dd />
        <dt>
                @Html.DisplayNameFor(model => model.HouseNumber):
        </dt>
        <dd>
                @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt>
                @Html.DisplayNameFor(model => model.City):
        </dt>
        <dd>
                @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
                @Html.DisplayNameFor(model => model.Zip):
        </dt>
        <dd>
                @Html.DisplayFor(model => model.Zip)
        </dd>
    </dl>
    <dl class="col">
        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg py-2">
        <a type="button" class="btn w-100 btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editovat</a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg py-2">
        <a type="button" class="btn w-100 btn-danger" asp-action="Delete" asp-route-id="@Model?.Id">Odstranit</a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg py-2">
        <a type="button" class="btn w-100 btn-success text-nowrap" asp-area="" asp-controller="Insurances" asp-action="Create">Nové pojištění</a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg py-2">
        <a type="button" class="btn w-100 btn-success text-nowrap" asp-area="" asp-controller="Insurances" asp-action="Index" asp-route-id="@Model?.Id">Přehled pojištění</a>
    </div>
</div>

